:root {
    background-color: wheat;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.card {
    background-color: blanchedalmond;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(213, 213, 213, 0.669);
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: 5px;
}

.contain {
    display: inline-block;
    
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    font-family: monospace;
}